/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lato', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  width: 100%;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
@media (min-width: 1000px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
nav h1 {
  padding: 2rem;
  font-size: 2rem;
}
nav .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
nav .nav-links a {
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}
@media (min-width: 1000px) {
  nav .nav-links a {
    font-size: 1.4rem;
  }
}
nav .nav-links a:hover {
  text-decoration: underline;
}
footer {
  background: #13121C;
  color: #707486;
  text-align: center;
  padding-top: 3rem;
}
footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }
}
@media (min-width: 768px) {
  footer div section:first-child {
    margin-right: 3rem;
  }
}
footer h3 {
  text-transform: uppercase;
  padding: 2rem;
  color: #acb2cc;
}
footer li {
  padding: 1rem;
}
@media (min-width: 1000px) {
  footer li {
    font-size: 1rem;
  }
}
footer li:hover {
  color: #acb2cc;
}
footer p {
  font-size: 0.8rem;
  padding: 5rem;
}
@media (min-width: 1000px) {
  footer p {
    font-size: 1rem;
  }
}
header {
  text-align: center;
}
@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/laptop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60rem;
    max-width: 150rem;
    margin: 0rem auto;
  }
}
@media (min-width: 768px) {
  header .text-section {
    width: 50%;
    color: #fff;
  }
}
header h2 {
  font-size: 3.3rem;
  padding: 1.6rem;
  line-height: 4rem;
}
header p {
  font-size: 1.8rem;
  padding: 1.6rem;
  line-height: 2.8rem;
}
@media (min-width: 1000px) {
  header p {
    max-width: 40rem;
    margin: 0rem auto;
    margin-left: 10rem;
    font-weight: lighter;
    letter-spacing: 1.5px;
  }
}
@media (min-width: 768px) {
  header img {
    display: none;
  }
}
header .button-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
@media (min-width: 768px) {
  header .button-section {
    margin: 0;
    width: 50%;
  }
}
header .button-section a {
  margin: 1rem auto;
  width: 90%;
  max-width: 30rem;
  border-radius: 4px;
  font-size: 2rem;
  padding: 1rem;
  letter-spacing: 2px;
  border: none;
  background: #C9445D;
  color: #fff;
  box-shadow: 0 3px 10px -2px rgba(20, 45, 100, 0.25);
  transition: all 0.4s;
}
@media (min-width: 1000px) {
  header .button-section a {
    font-size: 2rem;
    padding: 1.8rem;
    max-width: 40rem;
  }
}
header .button-section a:hover {
  background: #a93147;
}
header .button-section a:hover {
  transform: scale(1.05);
}
.product {
  background: #F4F4F4;
  text-align: center;
}
.product h2 {
  font-size: 3rem;
  padding: 1.6rem;
  line-height: 48px;
}
.product p {
  font-size: 1.8rem;
  padding: 1.6rem;
  line-height: 28px;
  max-width: 100rem;
  margin: 1rem auto;
}
.product .product-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100rem;
  margin: 1rem auto;
}
.product .product-info div {
  background: #fff;
  width: 90%;
  max-width: 30rem;
  height: 45rem;
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 1rem;
}
.product .product-info div img {
  height: 35%;
}
.product .product-info div h3 {
  font-size: 2rem;
  line-height: 29px;
  margin-top: 2rem;
  text-align: center;
}
.product .product-info div p {
  font-size: 1.5rem;
  line-height: 25px;
  margin: 1rem auto;
}
.product .product-list {
  background: #fff;
}
.product .product-list h3 {
  font-size: 2rem;
  padding: 2rem 0;
  line-height: 29px;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.product .product-list li {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}
.product .product-list li span {
  background: #C9445D;
  color: #fff;
  margin-right: 10px;
  border-radius: 50%;
  padding: 3px 6.5px;
}
.about h3 {
  font-size: 2.8rem;
  margin: 5rem auto 3rem;
  text-align: center;
}
@media (min-width: 768px) {
  .about .team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100rem;
    margin: 1rem auto;
  }
}
.about .team-list div {
  width: 90%;
  max-width: 40rem;
  margin: 1rem auto;
  background: #F4F4F4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .about .team-list div {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    max-width: 30rem;
    margin: 2rem;
  }
}
.about .team-list div img {
  width: 5rem;
}
@media (min-width: 768px) {
  .about .team-list div img {
    width: 7rem;
    margin: 2rem;
  }
}
.about .team-list div ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 2;
  margin-left: 1rem;
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  .about .team-list div ul {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
}
.about .team-list div ul li {
  padding-top: 1.5rem;
}
.about .team-list div ul li a:hover {
  text-decoration: underline;
}
