// Footer Styles

footer {
    background: @footer-background;
    color: @footer-font-color;
    text-align: center;

    h3 {
        text-transform: uppercase;
        padding: 2rem;
        color: @footer-font-color2;
    }

    li {
        padding: 1rem;

        &:hover {
            color: @footer-font-color2;
        }
    }

    p{
        font-size: .8rem;
        padding: 3rem;
    }
}